/* FONTS */

@font-face {
  font-family: 'Inter';
  src: url('/Inter.ttf') format('truetype');
}

/* LAYOUT */

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

:root {
  --text: #e5f5eb;
  --sec-text: #909d95;
  --background: #04090c;
  --background2: #17232c;
  --header-bg: #2a56926e;
  --secondary-action: #1d2c30;
  --primary: #084a61;
  --secondary: #2b5152;
  --accent: #4ed6f1;
  --accent-shadow: #7aa0d142;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 125%;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 2rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.hero-logo {
  width: 8rem;
}

.full-height {
  height: 90vh;
}

.hero-text {
  text-align: center;
  padding: 0rem 10rem;
}

.sec-text {
  color: var(--sec-text);
}

.no-pad {
  padding: 0 !important;
  margin: 0 !important;
}

/* NAVIGATION */


.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  a {
    color: var(--text);
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    color: var(--accent);
    text-decoration: underline;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    color: var(--text);
  }

  img {
    width: 1.8em;
    height: 1.8em;
  }
}

@media screen and (max-width: 48rem) {

  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

footer {
  font-size: 90%;
  font-family: "Inter";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  a {
    color: var(--accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }
}

/* HEADERS */

.hero-small {
  font-size: 200%;
  text-decoration: underline dashed var(--accent);
}

.hero {
  font-size: 300%;
  text-decoration: underline dashed var(--accent);
}

.spacer {
  height: 5em;
}