---
import Layout from "../layouts/Layout.astro";
import FooterNav from "./FooterNav.astro";
import Nav from "./Nav.astro";

const { language, title, summary } = Astro.props;
---

<Layout {language} {title} {summary}>
	<div class="flex flex-col">
		<Nav />
		<div class="flex flex-col">
			<slot />
		</div>
		<FooterNav />
	</div>
</Layout>
