<div class="hero">
    <h1 class="real">{{ .title }}</h1>
    <h1 class="underline-base underline-1">{{ .title }}</h1>
    <h1 class="underline-base underline-2">{{ .title }}</h1>
</div>

<style>
    .hero {
        margin-top: 7em;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h1 {
            text-align: center;
            font-size: 300%;
        }

        .real {
            position: relative;
            z-index: 10;
            text-decoration: underline dashed var(--accent);
        }

        .underline-base {
            background-repeat: no-repeat;
            background-size: 70% 70%;
            background-position: center;
            color: transparent;
            position: absolute;
            top: 0px;
        }

        .underline-1 {
            --back-color: #4ed6f1;
            background-image: linear-gradient(var(--back-color), var(--back-color));
            filter: blur(3vmax);
            opacity: 0.9;
            animation: 5s float-out-2 infinite;
        }

        .underline-2 {
            --back-color: #d036ff;
            background-image: linear-gradient(var(--back-color), var(--back-color));
            filter: blur(4vmax);
            opacity: 0.7;
            animation: 5s float-out-1 infinite;
        }
    }

    @keyframes float-main {
        0% {
            transform: rotate(-5deg) translate(0px, 0px);
        }

        25% {
            transform: rotate(-10deg) translate(0px, -16px);
        }

        50% {
            transform: rotate(-5deg) translate(0px, 0px);
        }

        75% {
            transform: rotate(0deg) translate(0px, -24px);
        }

        100% {
            transform: rotate(-5deg) translate(0px, 0px);
        }
    }

    @keyframes float-out-1 {
        0% {
            transform: scale(1.2, 1) translate(10px, 0px);
        }

        25% {
            transform: scale(1.2, 1) translate(10px, 13px);
        }

        50% {
            transform: scale(1.2, 1) translate(10px, -20px);
        }

        75% {
            transform: scale(1.2, 1) translate(10px, 10px);
        }

        100% {
            transform: scale(1.2, 1) translate(10px, 0px);
        }
    }

    @keyframes float-out-2 {
        0% {
            transform: scale(1.5, 1.3) translate(10px, 0px);
        }

        25% {
            transform: scale(1.8, 1.3) translate(10px, -5px);
        }

        50% {
            transform: scale(1.4, 1.3) translate(10px, 10px);
        }

        75% {
            transform: scale(1.6, 1.3) translate(10px, -20px);
        }

        100% {
            transform: scale(1.5, 1.3) translate(10px, 0px);
        }
    }
</style>