{{ partial "header.html" . }}

<div class="main">
    <div class="center column full-height">
        <img class="hero-logo" src="/logo.png">
        <h1 class="hero">A chat app with more fun.</h1>
        <p class="hero-text sec-text">
            We could say we're doing something incredible. But the truth is, we really just add features no-one
            else thinks about implementing and that makes Liphium a really interesting place.
        </p>
    </div>

    <div class="features">

        <div class="row aos">
            {{ range .Params.features }}
            <div class="desc">
                <span class="material-symbols">{{ .icon }}</span>
                <h2>{{ .heading }}</h2>
                <p class="sec-text">
                    {{ .description }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="spacer"></div>
</div>

<style>
    .features .row {
        margin-top: 5em;
        display: grid;
        grid-template-columns: auto auto;
        align-items: start;
        gap: var(--section-spacing);
        transition: transform 0.5s ease;
        gap: 5em;

        span {
            font-size: 50px;
            color: var(--accent);
        }

        .desc {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: start;
            width: auto;
            gap: var(--section-spacing);
            color: var(--text);
            line-height: 1.5;
        }
    }

    .main {
        max-width: 70rem;
    }
</style>

{{ partial "footer.html" . }}