{{ partial "header.html" . }}

<div class="main">
    <div class="hero-box">
        <div class="hero-title-box">
            <img class="hero-logo" src="/logo.png">
            <h1 class="hero-title pixel">{{ .Params.hero.title }}<span class="hero-title hero-gradient pixel">{{
                    .Params.hero.title2 }}</span>{{ .Params.hero.title3 }}</h1>
        </div>
        <p class="hero-text sec-text">
            {{ .Params.hero.description }}
        </p>
    </div>

    <div class="features">

        <div class="row aos">
            {{ range .Params.features }}
            <div class="desc">
                <span class="material-symbols">{{ .icon }}</span>
                <h2 class="pixel">{{ .heading }}</h2>
                <p class="sec-text">
                    {{ .description }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="spacer"></div>
</div>

<style>
    .hero-title {
        font-size: 50px;
        line-height: 1.1;
    }

    .hero-title-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .hero-logo {
        width: 3.5em;
        height: 3.5em;
    }

    .hero-text {
        margin-top: 0;
        text-align: center;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        gap: 0em;
    }

    .hero-gradient {
        background: linear-gradient(to right, var(--accent), var(--gradient-2));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0px 0px 30px var(--gradient-shadow);
    }

    .features .row {
        margin-top: 5em;
        display: grid;
        grid-template-columns: auto auto;
        align-items: start;
        gap: var(--section-spacing);
        transition: transform 0.5s ease;
        gap: 5em;
        padding: 0 2em;

        h2 {
            font-size: 37px;
            line-height: 1.1;
        }

        span {
            font-size: 50px;
            color: var(--accent);
        }

        .desc {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: start;
            width: auto;
            gap: var(--section-spacing);
            color: var(--text);
            line-height: 1.5;
        }
    }

    @media screen and (max-width: 900px) {

        .features .row {
            padding: 0 0.5em !important;
            display: flex;
            flex-direction: column;
        }
    }

    .main {
        max-width: 70rem;
    }
</style>

{{ partial "footer.html" . }}