<div id="download-buttons">
    {{ range .Page.Params.platforms.list }}
    <a href="{{ .link }}" class="primary-button" target="_blank" id="{{ .id }}-button" style="display: none;">
        {{ .text }}
    </a>
    {{ end }}
    <p class="text-normal no-pad" id="platform-error" style="display: none;">{{ .Page.Params.platforms.error }}</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userAgent = navigator.userAgent.toLowerCase();
        let platformFound = false;

        {{ range .Page.Params.platforms.list }}
            if (userAgent.includes('{{ .agent }}')) {
                document.getElementById('{{ .id }}-button').style.display = 'inline-block';
                platformFound = true;
            }
        {{ end }}

        if (!platformFound) {
            document.getElementById("platform-error").style.display = 'inline-block';
        }
    });
</script>